// alert("task created");
console.log(Category.value)

if (Category.value == 1) {
  document.getElementById("card-mystery").insertAdjacentHTML("beforeend", "<%= j render 'task', task: @task %>")
} else if (Category.value == 2) {
  document.getElementById("card-crime-detective").insertAdjacentHTML("beforeend", "<%= j render 'task', task: @task %>")
} else if (Category.value == 3) {
    document.getElementById("card-fiction-in-verse").insertAdjacentHTML("beforeend", "<%= j render 'task', task: @task %>")
};
